* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none !important;
}

/* ## webkit-scrollbar style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-track:hover {

    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5d60;
}

#video-player{
    width: 100%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## webkit-scrollbar style end ## */

.bg-e8f3ee {
    --bs-bg-opacity: 1;
    background-color: rgba(232, 243, 238, var(--bs-bg-opacity));
}

.btn-6bc3e7 {
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-bg: #5fb8db;
    --bs-btn-border-color: #66c1e6;
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: #20a9e4;
    --bs-btn-hover-border-color: #27a6dd;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

.content {
    max-width: 1808px;
    min-width: 300px;
    margin: auto;
}

/* ## navbar style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.navbar {
    transition: all 0.5s linear;
    box-shadow: #000;
    --bs-bg-opacity: 0 !important;
    box-shadow: none !important;
}

.navbar.opaque {
    --bs-bg-opacity: 1 !important;
    box-shadow: 0px 2px 20px 10px #00000014 !important;
}

.navbar .navbar-toggler {
    transition: all;
    border: none;
    padding: 0;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand .brand-logo {
    height: 50px;
}

.navbar .nav-link.active {
    color: #5a5d60 !important;
    font-weight: 500 !important;
}

.navbar .nav-link {
    transition: color 0.1s linear !important;
    text-decoration: none !important;
    color: #5a5d60 !important;
}

.navbar .nav-link:hover {
    color: #5fb8db !important;
}

.navbar .nav .nav-item:last-child {
    display: block !important;
}

.navbar .nav .nav-item:nth-child(n+3) {
    display: none;
}

.navbar .nav .dropdown-center .dropdown-menu .dropdown-container .dropdown-item:nth-child(n-2) {
    display: none;
}

.navbar .nav .dropdown-center .dropdown-menu .dropdown-container .dropdown-item:nth-child(n+3) {
    display: block;
}

.navbar .nav .dropdown-center .dropdown-toggle {
    cursor: pointer;
}

.navbar .nav .dropdown-center .dropdown-toggle::before {
    content: "More";
    padding-right: 5px;
}

.navbar .offcanvas .menu-user {
    display: none;
}

.navbar .nav .dropdown-center .dropdown-toggle::after {
    vertical-align: 0.15em !important;
}

.navbar .dropdown-center .dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 13%);
    --bs-bg-opacity: 0;
    background-color: rgba(232, 243, 238, var(--bs-bg-opacity));
    border: none;
    height: 100px;
    padding: 0;
    margin: 0;
}

.navbar .dropdown-center .dropdown-menu .dropdown-container {
    box-shadow: 0 0 7px 4px #0000001a;
    padding: 10px 0;
    border-radius: 5px;
    list-style: none;
}

.navbar .dropdown-center .dropdown-menu::after {
    z-index: 1;
    height: 12px;
    width: 12px;
    content: "";
    top: 0;
    left: 50%;
    --bs-bg-opacity: 1;
    background-color: rgba(232, 243, 238);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .dropdown-center .dropdown-menu::before {
    height: 20%;
    width: 100%;
    content: "";
    bottom: 100%;
    display: block;
    position: absolute;
}

.navbar .dropdown-center .dropdown-menu .dropdown-item:hover {
    background-color: #fff !important;
}

.navbar .dropdown-center .dropdown-toggle.open::after {
    transition: all 0.1s linear !important;
}

.navbar .dropdown-center .dropdown-toggle.open::after {
    transform: rotate(180deg);
}

.navbar .user-side {
    width: 38px;
    height: 38px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .user-side {
    align-self: center;
}

.navbar .user-side .dropdown-toggle{
    width: 100%;
    height: 100%;
}

.navbar .user-side .dropdown-toggle::after {
    display: none;
}

.navbar .user-side .dropdown-menu {
    top: 103%;
}

.navbar .user-side .dropdown-menu .user-panel {
    border: none;
    overflow: hidden;
    background-color: rgba(232, 243, 238);
}

.navbar .user-side .dropdown-menu .user-panel .user-info {
    display: flex;
    background-color: #fff;
}

.navbar .user-side .dropdown-menu .user-panel .user-info .user-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: middle;
    max-width: 124px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #5a5d60;
}

.navbar .user-side .dropdown-menu .user-panel .user-info .user-img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .user-side .dropdown-menu .user-panel .card-body {
    padding-top: 10px !important;
    list-style: none;
}

.navbar .offcanvas .offcanvas-header {
    position: absolute;
    right: 0;
}

.navbar .offcanvas .offcanvas-body {
    justify-content: flex-end;
}

.navbar .offcanvas .offcanvas-body {
    padding: 0;
}

.navbar .offcanvas .btn-close:focus {
    box-shadow: none;
}

.navbar .offcanvas .menu-user .nav-link:hover {
    background-color: #ffffff;
}

.navbar .offcanvas .menu-user .user-info {
    display: flex;
    background-color: #ffffff;
}

.navbar .offcanvas .menu-user .user-img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .offcanvas .menu-user .user-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: middle;
    max-width: 124px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #5a5d60;
}

.navbar .search-form .search-input-container {
    width: 230px;
}

.navbar .search-form .search-input-container .search-input {
    background: rgb(255 255 255 / 0%);
    border-radius: 5.5px !important;
    border: 1px solid #dee2e6;
    color: #5a5d60 !important;
    z-index: 0 !important;
    padding-right: 55px !important;
    font-size: 100% !important;
    transition: all 0.3s linear !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar .search-form .search-input-container .search-input:focus {
    background: rgb(255 255 255 / 0%);
    outline: 0;
    box-shadow: none !important;
    border-color: #5fb8db;
}

.navbar .search-form .search-input-container .search-icon {
    position: absolute !important;
    padding: 5px !important;
    cursor: pointer;
    right: 1%;
    z-index: 2 !important;
    transition: color 0.3s linear !important;
}

.navbar .search-form .search-input-container .search-icon:hover {
    color: #5fb8db;
}

.navbar .search-form .search-input-container .search-icon:active {
    border: 1px solid rgb(255 255 255 / 0%) !important;
    color: #5fb8db !important;
    cursor: pointer;
    right: 1%;
    z-index: 2 !important;
}

.navbar .search-form .search-input-container .clear-btn {
    position: absolute !important;
    font-size: xx-small;
    margin: 8.5px !important;
    padding: 4px 4px;
    right: 25px;
    background-color: #0000001c;
}

.navbar .sub-nav {
    display: none !important;
    width: 92vw;
}

.navbar .sub-nav .owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## navbar style end ## */

/* ## focus-wrapper style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.focus-wrapper .focus-img {
    border-top: none !important;
    border: 1px solid #ffffff;
    width: 100%;
}

.focus-wrapper>div {
    position: relative;
}

.focus-wrapper #focus-carousel .carousel-inner .vertical-layer {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 1.2));
}

.focus-wrapper #focus-carousel .carousel-inner .horizontal-layer {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255,  0.2), rgba(255, 255, 255, 1));
}

.focus-wrapper #focus-carousel .carousel-control-prev,
.focus-wrapper #focus-carousel .carousel-control-next {
    color: #33a0cb !important;
    font-size: xx-large;
    width: 40px;
    z-index: 3;
    bottom: auto !important;
    top: 35% !important;
}

.focus-wrapper #focus-carousel .carousel-inner {
    padding: 0;
}

.focus-wrapper #focus-carousel .carousel-indicators {
    top: 70% !important;
    justify-content: right !important;
    z-index: 3 !important;
}

.focus-wrapper #focus-carousel .carousel-indicators button {
    transition: all 0.5s linear !important;
    background-color: #33a0cb !important;
    width: 10px;
    height: 7px;
}

.focus-wrapper #focus-carousel .carousel-indicators>.active {
    width: 18px;
}

.focus-wrapper #focus-carousel .focus-item.active {
    z-index: 0 !important;
}

.focus-wrapper #focus-carousel .focus-img-character {
    position: absolute !important;
    z-index: 2 !important;
    top: 40% !important;
    left: 70%;
    transform: translate(-50%, -50%) !important;
    animation-duration: 1.5s !important;
    animation-timing-function: ease !important;
    background-size: contain;
    width: 45vw;
    min-width: 260px;
    max-width: 500px;
    height: 40vw;
    max-height: 350px;
    min-height: 260px;
    background-position: center center;
    background-repeat: no-repeat;
}

.focus-wrapper .focus-img-link {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.focus-wrapper .focus-decs-wrapper {
    position: absolute !important;
    z-index: 2 !important;
    top: 45% !important;
    transform: translate(0%, -50%) !important;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
}

.focus-wrapper .focus-decs-wrapper .focus-item-name {
    background-size: contain;
    width: 20.5vw;
    min-width: 180px;
    max-width: 360px;
    height: 13.67vw;
    max-height: 240px;
    min-height: 120px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.focus-wrapper .focus-decs-wrapper div {
    color: #5a5d60 !important;
    text-shadow: 0 0 10px #fff;
    font-weight: 600;
}

.focus-wrapper .focus-decs-wrapper .focus-item-desc {
    width: 60%;
    -webkit-line-clamp: 2;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.focus-wrapper .focus-decs-wrapper .focus-category {
    flex-wrap: wrap;
    overflow: hidden !important;
    max-height: 2.6rem;
}

.focus-wrapper .focus-decs-wrapper .focus-category-item {
    background-color: #a3e5ff7c;
    border-radius: 4px;
    font-size: 12px !important;
}

.focus-wrapper .focus-decs-wrapper .focus-item-score {
    color: #33a0cb !important;
}

.focus-wrapper .focus-decs-wrapper .focus-item-year::before,
.focus-wrapper .focus-decs-wrapper .focus-item-update::before {
    display: inline-block;
    content: "";
    margin: 0px 6px;
    height: 0.72rem !important;
    width: 2px !important;
    background: #387c96;
}

.focus-wrapper .focus-decs-wrapper .focus-item-desc,
.focus-wrapper .focus-decs-wrapper .focus-item-score,
.focus-wrapper .focus-decs-wrapper .focus-item-year,
.focus-wrapper .focus-decs-wrapper .focus-item-update {
    font-size: 14px !important;
}

@keyframes slide-right-in {
    0% {
        left: 120%;
    }

    100% {
        left: 70%;
    }
}

@keyframes slide-left-in {
    0% {
        left: -10%;
    }

    100% {
        left: 70%;
    }
}

@keyframes slide-left-out {
    0% {
        left: 70%;
    }

    100% {
        left: 120%;
    }
}

@keyframes slide-right-out {
    0% {
        left: 70%;
    }

    100% {
        left: -10%;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## focus-wrapper style end ## */

/* ## row-sliders-container style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.row-sliders-container {
    margin-top: -14% !important;
    position: relative;
    z-index: 4;
}

.row-sliders-container .row-slider {
    padding-left: 38px;
    padding-right: 38px;
}

.row-sliders-container .row-slider .title {
    padding-left: 10px;
    padding-right: 10px;
    color: #5a5d60;
    text-shadow: 0 0 10px #fff;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}

.row-sliders-container .row-slider .owl-carousel .owl-stage-outer {
    z-index: 1;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav>button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: x-large;
    color: #33a0cb;
    opacity: .5;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav>button:hover {
    background: none;
    color: #33a0cb;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav>button.owl-next {
    right: -1.5rem;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav>button.owl-prev {
    left: -1.5rem;
}

.row-sliders-container .row-slider .owl-carousel .owl-nav>button.disabled {
    display: none;
}

.row-sliders-container .row-slider .owl-carousel .owl-stage-outer .owl-item .card {
    border: none !important;
    transition: all 500ms linear;
    text-decoration: none;
}

.row-sliders-container .row-slider .owl-carousel .owl-stage-outer .owl-item .card-text {
    color: #5a5d60;
    font-weight: 500;
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.row-sliders-container .row-slider .owl-carousel .owl-stage-outer .owl-item .card-img-top {
    box-shadow: 0 0 7px 4px #0000001a;
    border-radius: 5px;
    object-fit: fill;
}


.anime-info-popup {
    transition: all 0.3s ease-in;
    background-color: #ffffff;
    color: #8d989a !important;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

.anime-info-popup:hover {
    transform: scale(1.3);
    box-shadow: 0 0 20px 5px #0000001a;
}

.anime-info-popup .info-container {
    padding: 5px !important;
}

.anime-info-popup .info-name {
    font-size: small !important;
    color: #5a5d60;
    font-weight: 500 !important;
}

.anime-info-popup .info-name:hover {
    color: #33a0cb !important;
}

.anime-info-popup .info-container div {
    color: #5a5d60 !important;
    font-weight: 400;
    font-size: x-small;
}

.anime-info-popup .info-container .info-item-description {
    width: 100%;
    text-align: start;
    -webkit-line-clamp: 5;
    line-height: 15px;
    text-overflow: ellipsis;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.anime-info-popup .info-container .info-category {
    text-overflow: ellipsis;
}

.anime-info-popup .info-container .info-item-category {
    background-color: #a3e5ff7c;
    border-radius: 4px;
}

.anime-info-popup .info-container .info-item-score {
    color: #33a0cb !important;
}

.anime-info-popup .info-container .info-item-year::before,
.anime-info-popup .info-container .info-item-update::before {
    display: inline-block;
    content: "";
    margin: 0px 4px;
    height: 0.45rem !important;
    width: 1px !important;
    background: #387c96;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## row-sliders-container style end ## */

/* ## info-focus-wrapper style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.info-focus-wrapper {
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.info-focus-wrapper .wrapper-content {
    position: relative;
    z-index: -1;
    width: 98.7vw;
    left: 50%;
    transform: translateX(-50%);
}

.info-focus-wrapper .wrapper-content .wrapper-img-container {
    width: 60vw;
    z-index: -1;
    position: absolute;
    right: 0;
}

.info-focus-wrapper .wrapper-img-container .vertical-layer {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, .4), rgba(255, 255, 255, .8), rgba(255, 255, 255, 1));
}

.info-focus-wrapper .wrapper-img-container .horizontal-layer {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 1), rgb(255, 255, 255, 0.9), rgb(255, 255, 255, .5), rgb(255, 255, 255, .2), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.info-focus-wrapper .wrapper-img {
    width: 100%;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    opacity: .9;
}

.info-focus-wrapper .focus-decs-wrapper {
    width: 50%;
    overflow: hidden;
}

.info-focus-wrapper .focus-decs-wrapper::before {
    margin-top: 100px;
    display: block;
    content: "";
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-name {
    color: #5a5d60 !important;
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 0px;
}

.info-focus-wrapper .focus-decs-wrapper div {
    color: #5a5d60 !important;
    text-shadow: 0 0 10px #fff;
    font-weight: 600;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-desc {
    -webkit-line-clamp: 5;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-desc.expand {
    -webkit-line-clamp: unset !important;
}

.info-focus-wrapper .focus-decs-wrapper .key {
    color: #33a0cb;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-desc:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
}

.info-focus-wrapper .focus-decs-wrapper .more-decs {
    position: absolute !important;
    padding: 0 5px;
    border: none;
    bottom: 0;
    right: 0;
    z-index: 2;
    font-size: 14px;
}

.info-focus-wrapper .focus-decs-wrapper .more-decs::before {
    content: "More ";
}

.info-focus-wrapper .focus-decs-wrapper .more-decs.expand::before {
    content: "Less " !important;
}

.info-focus-wrapper .focus-decs-wrapper .more-decs:hover {
    color: #33a0cb !important;
}

.info-focus-wrapper .focus-decs-wrapper .more-decs .more-desc-toggler {
    position: relative;
    top: 1px;
}

.info-focus-wrapper .focus-decs-wrapper .focus-category {
    flex-wrap: wrap;
    overflow: hidden !important;
    max-height: 1.3rem;
}

.info-focus-wrapper .focus-decs-wrapper .focus-category-item {
    background-color: #a3e5ff7c;
    border-radius: 4px;
    font-size: 12px !important;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-score {
    color: #33a0cb !important;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-year::before,
.info-focus-wrapper .focus-decs-wrapper .focus-item-update::before {
    display: inline-block;
    content: "";
    margin: 0px 6px;
    height: 0.72rem !important;
    width: 2px !important;
    background: #387c96;
}

.info-focus-wrapper .focus-decs-wrapper .focus-item-dir,
.info-focus-wrapper .focus-decs-wrapper .focus-item-desc,
.info-focus-wrapper .focus-decs-wrapper .focus-item-score,
.info-focus-wrapper .focus-decs-wrapper .focus-item-year,
.info-focus-wrapper .focus-decs-wrapper .focus-item-update {
    font-size: 14px !important;
}

.info-focus-wrapper .info-focus-btn .btn-play {
    color: #33a0cb !important;
    border: 1px solid #33a0cb;
}

.info-focus-wrapper .info-focus-btn .btn-play:hover {
    color: #ffffff !important;
    border: 1px solid #33a0cb;
    background-color: #258db6;
}

.info-focus-wrapper .info-focus-btn .btn-favorite {
    color: #5a5d60 !important;
    border: 1px solid #5a5d60;
}

.info-focus-wrapper .info-focus-btn .btn-favorite:hover {
    color: #ffffff !important;
    border: 1px solid #5a5d60;
    background-color: #4f5255;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## info-focus-wrapper style end ## */

/* ## episodes-list-wrapper style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.episodes-list-wrapper {
    padding-left: 48px;
    padding-right: 48px;
}

.episodes-list-wrapper .episode-wapper {
    border: none;
    border-radius: 0px;
    transition: all 0.5s ease-out, color 0.1s;
    cursor: pointer;
    color: #5a5d60;
    width: 100%;
}

.episodes-list-wrapper .episode-wapper:hover {
    transform: scale(1.05);
    z-index: 2;
    color: #33a0cb !important;
}

.episodes-list-wrapper .episode-wapper .wrapper-img {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #0000001a;
}

.episodes-list-wrapper .episode-wapper .play-icon {
    display: none !important;
    position: absolute;
    bottom: 25%;
    right: 10%;
    border: 1px solid #33a0cb;
    color: #33a0cb;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.episodes-list-wrapper .episode-wapper .play-icon.show {
    display: flex !important;
}

.episodes-list-wrapper .episode-wapper .play-icon:hover {
    background-color: #258db6;
    color: #ffffff;
}

.episodes-list-wrapper .episode-wapper .anime-title {
    font-weight: 500;
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## episodes-list-wrapper style end ## */

/* ## watch-area-container style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.watch-area-container {
    margin-top: 66px;
    margin-left: 48px;
    margin-right: 48px;
}

.watch-area-container .player-slider-bar {
    height: 100%;
}

.watch-area-container .player-slider-bar .player-slider-header .slider-item {
    color: #5a5d60;
}

.watch-area-container .player-slider-bar .player-slider-header .slider-item:hover {
    color: #33a0cb !important;
}

.watch-area-container .player-slider-bar .player-slider-header .slider-item.active {
    font-weight: 400 !important;
    color: #33a0cb;
}

.watch-area-container .player-slider-bar .player-slider-body {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 0;
    background: #ffffff;
    border-right: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.watch-area-container .player-slider-bar .player-slider-body.show-scrollbar {
    overflow-y: auto !important;
}

.watch-area-container .player-slider-bar .player-slider-body .body-item {
    display: none;
}

.watch-area-container .player-slider-bar .player-slider-body .body-item.expand {
    display: unset !important;
}

.watch-area-container .player-slider-bar .player-slider-body .body-item {
    border-radius: 0;
    width: 100%;
    position: absolute;
}

.watch-area-container .player-slider-bar .player-slider-body .body-item .list-group-item {
    border: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: #5a5d60;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper:hover {
    color: #33a0cb;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .episode-wrapper-img {
    width: 100px;
    height: 60px;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper.playing {
    color: #33a0cb !important;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 10px;
    left: 0;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar {
    display: inline-block;
    position: relative;
    margin-right: 0.5px;
    margin-left: 0.5px;
    width: 10px;
    height: 1px;
    overflow: hidden;
    background: #79c3e2;
    color: transparent;
    animation-duration: 3s !important;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon.playing .bar {
    animation-name: pulse !important;
    animation-iteration-count: infinite !important;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon.off .bar {
    animation-name: pulse-off !important;
    animation-delay: 0s !important;
    animation-duration: 1.5s !important;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n1 {
    animation-delay: 0.5s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n2 {
    animation-delay: 0.2s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n3 {
    animation-delay: 1.2s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n4 {
    animation-delay: 0.9s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n5 {
    animation-delay: 2.3s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n6 {
    animation-delay: 1.3s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n7 {
    animation-delay: 3.1s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n8 {
    animation-delay: 1.9s;
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .play-icon .bar.n9 {
    animation-delay: 1.7s;
}

@keyframes pulse {
    0% {
        height: 1px;
        margin-top: 0;
    }

    10% {
        height: 15px;
        margin-top: -15px;
    }

    50% {
        height: 5px;
        margin-top: -5px;
    }

    60% {
        height: 15px;
        margin-top: -15px;
    }

    80% {
        height: 7.5px;
        margin-top: -7.5px;
    }

    100% {
        height: 1px;
        margin-top: 0;
    }
}

@keyframes pulse-off {
    0% {
        height: 5px;
        margin-top: -5px;
    }

    30% {
        height: 15px;
        margin-top: -15px;
    }

    100% {
        height: 1px;
        margin-top: 0;
    }
}

.watch-area-container .player-slider-bar .player-slider-body .episodes-list .episode-wrapper .title {
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .list-group-item:active {
    background-color: var(--bs-list-group-action-hover-bg);
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-left .author-avata .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid lavender;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-right .author-name {
    line-height: 15px;
    font-weight: 500;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn {
    flex-direction: column;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .textarea-box {
    width: 100%;
    background: rgb(255 255 255) !important;
    border-radius: 5.5px !important;
    border: 2px solid #dee2e6;
    color: #5a5d60 !important;
    z-index: 0 !important;
    font-size: 100% !important;
    transition: all 0.3s linear !important;
    padding: 0.25rem 0.5rem;
    padding-bottom: 30px !important;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .comment-input {
    resize: none;
    width: 100%;
    border: none;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .textarea-box .char-count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .textarea-box:hover {
    border-color: #33a0cb;
    cursor: text;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .textarea-box:focus-within {
    border-color: #66c1e6 !important;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-right .comment-ctn {
    font-size: 14px;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn {
    display: none;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn.show {
    display: block;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn .submit-btn {
    color: #33a0cb !important;
    border: 1px solid #33a0cb;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn .submit-btn:hover {
    color: #ffffff !important;
    border: 1px solid #33a0cb;
    background-color: #258db6;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn .cancel-btn {
    color: #5a5d60 !important;
    border: 1px solid #5a5d60;
}

.watch-area-container .player-slider-bar .player-slider-body .comments-list .comment-input-ctn .btn-ctn .cancel-btn:hover {
    color: #ffffff !important;
    border: 1px solid #5a5d60;
    background-color: #4f5255;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## watch-area-container style end ## */

/* ## watch-area-info style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.watch-area-info {
    padding-left: 48px;
    padding-right: 48px;
}

.watch-area-info .player-name-title {
    padding-top: 14px;
    font-size: 22px;
    line-height: 34px;
    color: #6b6f72;
    text-align: left;
    font-weight: 700;
}

.watch-area-info .player-name-title .more-info {
    color: #5a5d60;
    font-size: 24px !important;
}

.watch-area-info .player-name-title .more-info:hover {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .player-info-score {
    color: #33a0cb !important;
    transform: scale(1.3);
    padding-right: 7px;
    margin-left: 6px;
}

.watch-area-info .player-info-ctn .player-info-update::before {
    display: inline-block;
    content: "";
    margin: 0px 6px;
    height: 0.72rem !important;
    width: 2px !important;
    background: #387c96;
}

.watch-area-info .player-info-ctn .player-desc,
.watch-area-info .player-info-ctn .player-info-score,
.watch-area-info .player-info-ctn .player-info-year,
.watch-area-info .player-info-ctn .player-info-update {
    font-size: 16px !important;
    color: #5a5d60;
    font-weight: 500;
}

.watch-area-info .player-info-ctn .show-more {
    color: #5a5d60;
    font-weight: 500;
    padding: 5px;
}

.watch-area-info .player-info-ctn .show-more:active{
    border: none !important;
}

.watch-area-info .player-info-ctn .show-more:hover {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .show-more.expand {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .show-more::before {
    content: "More";
}

.watch-area-info .player-info-ctn .show-more.expand::before {
    content: "Collapse" !important;
}

.watch-area-info .player-info-ctn .show-more::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.watch-area-info .player-info-ctn .show-more.expand::after {
    transform: rotate(180deg);
}

.watch-area-info .player-info-ctn .player-desc {
    height: 0px !important;
    overflow: hidden;
    margin-top: 0;
}

.watch-area-info .player-info-ctn .player-desc.show {
    height: 100% !important;
    margin-top: 0.5rem !important;
}

.watch-area-info .player-info-ctn .player-desc .key {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .player-desc .decs-category {
    flex-wrap: wrap;
    overflow: hidden !important;
    max-height: 2.6rem;
}

.watch-area-info .player-info-ctn .player-desc .decs-category .decs-category-item {
    background-color: #a3e5ff7c;
    border-radius: 4px;
    font-size: 12px !important;
}

.watch-area-info .player-info-ctn .rating-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.watch-area-info .player-info-ctn .rating-ctn .rating-count {
    font-size: small;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 14px;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score label {
    position: relative;
    float: right;
    color: #C8C8C8;
    cursor: pointer;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score input:checked~label:before {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score label:hover~label:before {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .rating-ctn .own-score label:hover:before {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    color: #5a5d60;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating .dropdown-toggle.rated {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating:hover {
    color: #33a0cb;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating .rating-drop {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 250px;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating .rating-drop:focus,
.watch-area-info .player-info-ctn .rating-ctn .own-rating .rating-drop:hover,
.watch-area-info .player-info-ctn .rating-ctn .own-rating .rating-drop:active {
    background: none !important;
}

.watch-area-info .player-info-ctn .rating-ctn .own-rating .rt-score {
    color: #5a5d60;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## watch-area-info style end ## */

.footer-info {
    font-size: small;
    font-weight: 500;
    color: #5a5d60;
}

/* ## back-to-top-btn style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.back-to-top-btn {
    display: none !important;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 25px;
    position: fixed;
    background: rgba(250, 250, 250, 0.671);
    box-shadow: 0 0 7px 4px #0000001a;
    border-radius: 32px;
    color: #5a5d60;
    z-index: 200;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
}

.back-to-top-btn.show {
    display: flex !important;
}

.back-to-top-btn:hover {
    color: #33a0cb;
    background: rgb(250, 250, 250);
}

.back-to-top-btn:active {
    color: #ffffff;
    background: rgb(115, 115, 115);
    transition: all 0.1s ease-out;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## back-to-top-btn-btn style end ## */


/* ## tooltip style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.tooltip-back-to-top {
    --bs-tooltip-bg: #33a0cb;
    --bs-tooltip-padding-x: 1rem;
    --bs-tooltip-padding-y: 0.5rem;
    --bs-tooltip-opacity: .9;
    --bs-tooltip-font-size: font-size-s;
    --bs-tooltip-border-radius: 5px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## tooltip style end ## */

/* ##responsive <=1199px */
@media only screen and (max-width: 1199px) {
    .info-focus-wrapper .focus-decs-wrapper {
        width: 550px !important;
    }
}

/* ##responsive <=767px */
@media only screen and (max-width: 767px) {

    /* ## navbar screen size <=767 responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .navbar .container-fluid {
        margin: 0 1rem !important;
    }

    .navbar .nav .nav-item:last-child {
        display: block !important;
    }

    .navbar .nav .nav-item:nth-child(n+0) {
        display: none;
    }

    .navbar .nav .dropdown-center .dropdown-menu .dropdown-container .dropdown-item:nth-child(n-2) {
        display: block;
    }

    .navbar .nav .dropdown-center .dropdown-toggle::before {
        content: "Browse";
        padding-right: 5px;
    }

    .navbar .offcanvas .user-side {
        display: none;
    }

    .navbar .offcanvas .menu-user {
        display: block;
    }

    .navbar .search-form {
        flex: 1;
    }

    .navbar .search-input-container {
        width: 100% !important;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## navbar screen size <=767 responsive end ## */

    /* ## focus-wrapper screen size <=767 responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .focus-wrapper .focus-decs-wrapper {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .focus-wrapper #focus-carousel .carousel-control-prev,
    .focus-wrapper #focus-carousel .carousel-control-next {
        display: none !important;
    }

    .focus-wrapper .focus-decs-wrapper {
        top: 45% !important;
    }

    .focus-wrapper #focus-carousel .carousel-indicators {
        padding: 0 !important;
        margin: 0 1rem !important;
    }

    .focus-wrapper .focus-decs-wrapper .focus-item-desc {
        display: none !important;
    }

    .focus-wrapper #focus-carousel .focus-img-character {
        transform: translate(-55%, -50%) scale(0.8) !important;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## focus-wrapper screen size <=767 responsive end ## */

    /* ## row-sliders-container screen size <=767 responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .row-sliders-container .row-slider {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row-sliders-container .row-slider .title {
        padding-left: 5px;
        padding-right: 5px;
    }

    .row-sliders-container .row-slider .owl-carousel .owl-stage-outer .owl-item .card:hover {
        transform: scale(1.03);
        transition: all 0.1s;
    }

    .row-sliders-container .row-slider .owl-carousel .owl-stage-outer .owl-item .card-img-top {
        box-shadow: 0 0 3px 2px #0000001a !important;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## row-sliders-container screen size <=767 responsive end ## */

    /* ## info-focus-wrapper screen size <=767px responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .info-focus-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }

    .info-focus-wrapper .wrapper-content {
        width: 100vw !important;
    }

    .info-focus-wrapper .focus-decs-wrapper::before {
        margin-top: 0;
    }

    .info-focus-wrapper .focus-decs-wrapper {
        width: 100% !important;
    }

    .info-focus-wrapper .wrapper-content .wrapper-img-container {
        width: 100%;
        position: relative;
    }

    .info-focus-wrapper .wrapper-content .wrapper-img-container .horizontal-layer {
        background-image: none;
    }

    .info-focus-wrapper .wrapper-content .wrapper-img-container .wrapper-img {
        border-left: none;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## info-focus-wrapper screen size <=767 responsive end ## */

    /* ## episodes-list-wrapper screen size <=767px responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .episodes-list-wrapper {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## episodes-list-wrapper screen size <=767 responsive end ## */

    .footer-info {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}

/* ##responsive <=575px */
@media only screen and (max-width: 575px) {
    /* ## navbar screen size <=575px responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .navbar {
        --bs-bg-opacity: 1 !important;
    }

    .navbar .container-fluid {
        margin: 0 1rem !important;
    }

    .navbar .nav .nav-item:last-child {
        display: none !important;
    }

    .navbar .search-form {
        flex: 1;
    }

    .navbar .search-input-container {
        width: 100% !important;
    }

    .navbar .sub-nav {
        display: flex !important;
    }

    .navbar .sub-nav .nav-item {
        display: block !important;
    }

    .navbar .sub-nav .nav-item:last-child {
        display: block !important;
    }

    .navbar .sub-nav .nav-item .nav-link {
        padding-top: 0;
    }

    .navbar .sub-nav .nav-item:first-child .nav-link {
        padding-left: 0;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## navbar screen size <=575 responsive end ## */

    .content {
        padding-top: 5.125rem;
    }

    /* ## focus-wrapper screen size <=575px responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .focus-wrapper .focus-img {
        border-left: none !important;
        border-right: none !important;
    }

    .focus-wrapper .focus-decs-wrapper {
        bottom: 0 !important;
        transform: translate(0%, -10%) !important;
        top: unset !important;
    }

    .focus-wrapper #focus-carousel .carousel-inner .horizontal-layer {
        background-image: none;
    }

    .focus-wrapper #focus-carousel .carousel-indicators {
        top: unset !important;
        bottom: 0% !important;
        transform: scale(0.8) translateX(12%);
    }

    .focus-wrapper #focus-carousel .focus-img-character {
        transform: translate(-60%, -50%) scale(0.7) !important;
    }

    .focus-wrapper .focus-decs-wrapper .focus-category {
        max-height: 1.3rem;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## focus-wrapper screen size <=575 responsive end ## */

    .row-sliders-container {
        margin-top: 1rem !important;
    }

    .back-to-top-btn {
        display: none !important;
    }
}