# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
coverage/
*.local

# MacOS system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Cypress (E2E testing)
cypress/videos/
cypress/screenshots/
cypress/logs/

# Editor-specific files
.vscode/
!.vscode/extensions.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build files
*.tsbuildinfo

# Ignore uploads folder
uploads/

