* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-error-span{
    color: red;
    font-size: 12px !important;
}
.form-success-span{
    color: green;
    font-size: 12px !important;
}

:focus-visible {
    outline: none !important;
}

.content {
    max-width: 1808px;
    min-width: 600px;
    margin: auto;
    margin-top: 90px;
    margin-left: 200px;
    padding: 0 48px;
    overflow: auto;
    height: calc(100vh - 96px);
    width: calc(100% - 200px);
}

/* ## webkit-scrollbar style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-track:hover {

    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5a5d60;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## webkit-scrollbar style end ## */

.bg-e8f3ee {
    --bs-bg-opacity: 1;
    background-color: rgba(232, 243, 238, var(--bs-bg-opacity));
}

.btn-6bc3e7 {
    --bs-btn-color: rgb(255, 255, 255);
    --bs-btn-bg: #5fb8db;
    --bs-btn-border-color: #66c1e6;
    --bs-btn-hover-color: rgb(255, 255, 255);
    --bs-btn-hover-bg: #20a9e4;
    --bs-btn-hover-border-color: #27a6dd;
    --bs-btn-focus-shadow-rgb: 11, 172, 204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

/* ## navbar style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.navbar {
    padding: 0 16px !important;
    flex-wrap: wrap !important;
    transition: all 0.5s linear;
    box-shadow: #000;
    --bs-bg-opacity: 0 !important;
    box-shadow: none !important;
}

.navbar.opaque {
    --bs-bg-opacity: 1 !important;
    box-shadow: 0px 2px 20px 10px #00000014 !important;
}

.navbar .navbar-toggler {
    transition: all;
    border: none;
    padding: 0;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar-brand .brand-logo {
    height: 50px;
}

.navbar .nav-link.active {
    color: #5a5d60 !important;
    font-weight: 500 !important;
}

.navbar .nav-link {
    transition: color 0.1s linear !important;
    text-decoration: none !important;
    color: #5a5d60 !important;
}

.navbar .nav-link:hover {
    color: #5fb8db !important;
}

.navbar .offcanvas .menu-user {
    display: none;
}

.navbar .dropdown-center .dropdown-menu {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 13%);
    --bs-bg-opacity: 0;
    background-color: rgba(232, 243, 238, var(--bs-bg-opacity));
    border: none;
    height: 100px;
    padding: 0;
    margin: 0;
}

.navbar .dropdown-center .dropdown-menu .dropdown-container {
    box-shadow: 0 0 7px 4px #0000001a;
    padding: 10px 0;
    border-radius: 5px;
    list-style: none;
}

.navbar .dropdown-center .dropdown-menu::after {
    z-index: 1;
    height: 12px;
    width: 12px;
    content: "";
    top: 0;
    left: 50%;
    --bs-bg-opacity: 1;
    background-color: rgba(232, 243, 238);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
}

.navbar .dropdown-center .dropdown-menu::before {
    height: 20%;
    width: 100%;
    content: "";
    bottom: 100%;
    display: block;
    position: absolute;
}

.navbar .dropdown-center .dropdown-menu .dropdown-item:hover {
    background-color: #fff !important;
}

.navbar .dropdown-center .dropdown-toggle.open::after {
    transition: all 0.1s linear !important;
}

.navbar .dropdown-center .dropdown-toggle.open::after {
    transform: rotate(180deg);
}

.navbar .user-side {
    width: 38px;
    height: 38px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .user-side {
    align-self: center;
}

.navbar .user-side .dropdown-toggle::after {
    display: none;
}

.navbar .user-side .dropdown-menu {
    top: 103%;
}

.navbar .user-side .dropdown-menu .user-panel {
    border: none;
    overflow: hidden;
    background-color: rgba(232, 243, 238);
}

.navbar .user-side .dropdown-menu .user-panel .user-info {
    display: flex;
    background-color: #fff;
}

.navbar .user-side .dropdown-menu .user-panel .user-info .user-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: middle;
    max-width: 124px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #5a5d60;
}

.navbar .user-side .dropdown-menu .user-panel .user-info .user-img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .user-side .dropdown-menu .user-panel .card-body {
    padding-top: 10px !important;
    list-style: none;
}

.navbar .offcanvas .offcanvas-header {
    position: absolute;
    right: 0;
}

.navbar .offcanvas .offcanvas-body {
    justify-content: flex-end;
}

.navbar .offcanvas .offcanvas-body {
    padding: 0;
}

.navbar .offcanvas .btn-close:focus {
    box-shadow: none;
}

.navbar .offcanvas .menu-user .nav-link:hover {
    background-color: #ffffff;
}

.navbar .offcanvas .menu-user .user-info {
    display: flex;
    background-color: #ffffff;
}

.navbar .offcanvas .menu-user .user-img {
    width: 50px;
    height: 50px;
    padding: 1px;
    border: 1px solid lavender;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.navbar .offcanvas .menu-user .user-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    vertical-align: middle;
    max-width: 124px;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #5a5d60;
}

.navbar .sub-nav {
    width: 100%;
    margin: 0;
    display: flex !important;
}

.navbar .sub-nav .owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

.navbar .sub-nav .nav-item {
    display: block !important;
}

.navbar .sub-nav .nav-item:last-child {
    display: block !important;
}

.navbar .sub-nav .nav-item .nav-link {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.navbar .sub-nav .nav-item .nav-link.active {
    background: #ffffff;
    color: #5fb8db !important;
}

.navbar .sub-nav .nav-item .nav-link:hover {
    background: #ffffff;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## navbar style end ## */

/* ## option-bar style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.option-bar {
    z-index: 2;
    position: fixed;
    width: 200px;
    height: calc(100vh - 90px);
    background-color: #ffffff;
}

.option-bar .ctn {
    overflow-y: auto;
    height: calc(100vh - 122px);
}

.option-bar .option-item {
    text-decoration: none;
    display: block;
    padding: 5px 16px;
    cursor: pointer;
    color: #5a5d60;
}

.option-bar .option-item.active {
    background: rgba(232, 243, 238);
    color: #33a0cb;
}

.option-bar .option-item:hover {
    color: #5fb8db !important;
    background: rgba(232, 243, 238);
    ;
}

.option-bar .option-item .title {
    font-size: 16px;
    font-weight: 500;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## option-bar style end ## */

.category-title {
    color: #5a5d60;
    font-size: 32px;
    font-weight: 600;
}

/* ## data-tb style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.data-tb {
    border-collapse: unset;
}

.data-tb,
.data-tb .data-tb-col {
    border: 1px solid #5a5d60;
}

.data-tb .data-tb-col {
    padding: 5px;
    width: auto;
}

.data-tb .data-tb-col.modify a {
    cursor: pointer;
    text-decoration: none;
    color: #33a0cb;
}

.data-tb .data-tb-col.modify a:hover {
    color: rgb(206, 97, 97);
}

.data-tb .data-tb-col.modify a:nth-child(n+2)::before {
    display: inline-block;
    content: "";
    margin: 0px 6px;
    height: 0.72rem !important;
    width: 2px !important;
    background: #387c96;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## data-tb style end ## */

/* ## .upload-form-ctn style start ## */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.upload-form-ctn #upload-form .form-label{
    cursor: pointer;
    color: #5a5d60;
    font-weight: 500;
}

.form-control-secondary {
    border: 1px solid #5a5d60;
    color: #5a5d60 !important;
}

.form-control-secondary:focus {
    border-color: #ddddf5;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgb(107 195 231);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* ## .upload-form-ctn style end ## */

/* ##responsive <=767px */
@media only screen and (max-width: 767px) {

    .content {
        padding: 0 16px;
    }

    /* ## navbar screen size <=767 responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
    .navbar .offcanvas .user-side {
        display: none;
    }

    .navbar .offcanvas .menu-user {
        display: block;
    }

    .navbar .offcanvas .navbar-text {
        display: none;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## navbar screen size <=767 responsive end ## */
}

/* ##responsive <=575px */
@media only screen and (max-width: 575px) {
    /* ## navbar screen size <=575px responsive start ## */
    /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

    .navbar {
        --bs-bg-opacity: 1 !important;
    }

    .navbar .container-fluid {
        margin: 0 1rem !important;
    }

    /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
    /* ## navbar screen size <=575 responsive end ## */
}